<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Edição de artigo</h2>
        </div>

        <div class="card-body">
            <form method="POST" action="/articles/update">
                <input class = "form-control" type="text" placeholder="Título do artigo"  name ="title" value="<%=article.title %>">
                <input type="hidden" name="id" value="<%=article.id %>">
                <br>
                <textarea class="form-control" placeholder="Escreva o artigo aqui!" name="body" id="article" cols="30" rows="10"><%=article.body %></textarea><br>
                <label>Categoria</label>
                <select class="form-control" name="categoryId">
                    <% categories.forEach((category) => { %>
                        <% if (category.id == article.categoryId) { %>
                            <option value="<%=category.id%>" selected><%=category.title %></option>
                        <% }else{ %>
                            <option value="<%=category.id%>"> <%=category.title %></option>
                        <% } %>
                        
                    <%  }) %>
                </select><br>
                <button class="btn btn-success">Atualizar artigo</button>
            </form>
        </div>

    </div>
</div>
<%- include ('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        selector: "#article",
        plugins: 'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons',
        language: 'pt_BR'
    })
</script>